/* banner css start here */
.banner{
    padding-top: 140px;
    padding-bottom: 88px;
    background: #edf5f7;
}
.shopify-text {
    display: flex;
    align-items: center;
    width: 340px;
    padding: 10px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 16px;
}
.shopify-logo{
    width: 80px;
    height: 20px;
}
.shopify-text p{
    padding-right: 0px;
    padding-left: 10px;
}

.banner-heading {
    margin-top: 30px;
    margin-bottom: 20px;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    font-size: 50px;
    line-height: 57px;
    font-weight: 700;
}
.banner-txt {
    margin-top: 30px;
    font-size: 22px;
    line-height: 30px;
}
.banner-logos {
    display: flex;
    align-items: center;
    justify-content: left;
}
.customer-logo {
    width: 126px;
    object-fit: scale-down;
}

.banner-btn {
    margin-top: 40px;
}

/* counter css start here */
.counter-section{
    background: url('../images/global-world-map-bg.png') no-repeat;
    background-size: cover;
    margin-top: 0px;
    padding: 50px 0;
}
.boost-heading{
    text-align: center;
}
.boost-heading p{
    color: #5d6bc5;
    font-size: 20px;
    font-weight: 600;
}

.boost-heading h2{
    font-size: 40px;
    line-height: 48px;
    max-width: 68%;
    text-align: center;
    margin: 0 auto;
}

.counter-card-main{
    margin-top: 60px;
    margin-bottom: 0px;
}

.counter-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-heading h3, .counter-heading span{
    margin-top: 0px;
    font-size: 65px;
    line-height: 36px;
    font-weight: bold;
}

.counter-card {
    background-color: #edf5f7;
    text-align: center;
    border-radius: 20px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.counter-discription {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    color: #414141;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}


/* ////////////////////////////// banner iframe ////////////////////////////// */
.banner-right {
    width: 100%;
    max-width: none;
    padding-top: 10px;
    margin-left: 0px;
    border-radius: 20px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7ab7ff), to(#5c6ac4));
    background-image: linear-gradient(180deg, #7ab7ff, #5c6ac4);
    opacity: 1;
    text-align: center;

    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

figure {
    margin: 0;
    margin-bottom: 10px;
}

.banner-frame {
    position: relative;
    width: 345px;
    height: 648px;
    margin-top: -35px;
    margin-right: auto;
    margin-left: auto;

    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.iphone-frame {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: block;
    width: 345px;
    max-width: none;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

.bg-video2 {
    position: absolute;
    left: 23px;
    top: 18px;
    width: 300px;
    height: 100%;
    max-width: 300px;
}

.bg-video {
    position: relative;
    overflow: hidden;
    height: 100%;
    color: white;
}

.bg-video>video {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    object-fit: cover;
    z-index: -100;
}

.owl-carousel .owl-nav button.owl-prev{
    display: none;
}

.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: 80px;
    bottom: 213px;

}



.next-arrow{
    color: #000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 3.2;
    text-align: center;
    background-image: linear-gradient(90deg, #7ab7ff 0%, #5c6ac4 0%, #79b3fc 95%);
}


/* about section */

.about-section{
    position: relative;
    margin-top: 100px;
    background-color: #000;
    background-image: url(/assets/images/ribben-bg.png);
    background-position: 100% 50%;
    background-size: 130px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.notification-text{
    width: 80%;
    max-width: 100%;
    color: #fff;
}
.scroll-grid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}
.notification-list{
    list-style: disc;
    margin-left: 40px;
}
.notification-heading{
    margin: 20px 0 10px 0;
}


.scroll-grid-images{
    position: sticky;
    top: 100px;
    /* overflow: hidden; */
}

.scroll-grid-images img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}