.from_button {

    height: 64px;
    margin-top: 60px;
    margin-left: 0px;
    font-size: 18px;
}
.btn-build{
    align-items: center;
    border-radius: 100px;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    /* padding: 12.54px 10px; */
    padding: 18.54px 18px;
    line-height: 28px;
    cursor: pointer;
    text-decoration: none;
}
.btn-build:hover{
    background-image: linear-gradient(180deg, #7ab7ff 5%, #5c6ac4 37%, #79b3fc 95%, #fff);
    color: #fff;
    text-decoration: none;
}
.footer-section .get-the-plobal{
    font-weight: bold;
    margin-bottom: 10px;  
    font-size: 23px;
    line-height: 36px;
}
.footer {
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: 2px none #c7dde2;
    background-color: #fafdfe;
}
.build-app{
    margin-top: 20px;
    font-size: 18px;
}
.list-heading {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.list-heading:hover{
    text-decoration: none;
    color: #000;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

}
.social-icons a{
    background-color: black;
    border-radius: 50%;
    color: #fff;
    padding: 3px 7px;
    margin-right: 10px;
}
.social-icons .fa-facebook-f{
    padding: 3px;

}
.social-icons{
    margin-right: 50px;

}
.home-policy{
    padding-left: 110px;
}
.links-list li{
    padding-top: 15px;
    color: #000;
    font-size: 16px;
}
.links-list a:hover{
    text-decoration: none;
    color: #000;
}


/* blog-carousel start */
#blog-carousel{
    background-color: #000;
    color: #fff;
    margin-bottom: 0px;
    padding-top: 120px;
    padding-bottom: 80px;
    position: relative;

}
.side-ribbon{
    position: absolute;
    bottom: 95px;
    display: block;
    width: 100px;
    height: 400px;
}
.carousel-content h1{
    font-size: 54px;
    line-height: 66px;
}
.pargaph-trusted{
    height: auto;
    margin-top: 30px;
    color: #c4c4c4;
    font-size: 18px;
    line-height: 30px;
}
.ceo-box{
    display: flex;
    height: auto;
    margin-top: 30px;
    margin-left: 0px;
}
.about-ceo{
    color: #c4c4c4;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 15px;

}
.percentage-boxes{
    display: flex;
    width: auto;
    margin-top: 60px;
    margin-right: 0px;
    margin-left: auto;
    padding-right: 24px;
}
.box-details{
    align-items: center;
    border-radius: 15px;
    background-color: #181818;
    padding: 20px 10px;
    text-align: center;
    margin-right: 27px;

}
.pargaph-p{
    margin-bottom: 10px;
    font-size: 21px;    line-height: 30px;
    text-align: center;
    margin-top: 10px;
    color: #d0d0d0;

}
.owl-carousel .owl-item img{
    width: auto !important;
    max-width: 100% !important;
}