.from_button {

    height: 64px;
    margin-top: 60px;
    margin-left: 0px;
    font-size: 18px;
}
.btn-build{
    align-items: center;
    border-radius: 100px;
    background-color: #000;
    border: none;
    color: #fff;
    font-weight: 600;
    /* padding: 12.54px 10px; */
    padding: 18.54px 18px;
    line-height: 28px;
    cursor: pointer;
    text-decoration: none;
}
.btn-build:hover{
    background-image: linear-gradient(180deg, #7ab7ff 5%, #5c6ac4 37%, #79b3fc 95%);
    color: #fff;
    text-decoration: none;
    border: none;
}
.footer-section .get-the-plobal{
    font-weight: bold;
    margin-bottom: 10px;  
    font-size: 23px;
    line-height: 36px;
}
.footer {
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: 2px none #c7dde2;
    background-color: #fafdfe;
}
.build-app{
    margin-top: 20px;
    font-size: 18px;
}
.list-heading {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.list-heading:hover{
    text-decoration: none;
    color: #000;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

}
.social-icons a{
    background-color: black;
    border-radius: 50%;
    color: #fff;
    padding: 3px 7px;
    margin-right: 10px;
}
.social-icons .fa-facebook-f{
    padding: 3px;

}
.social-icons{
    margin-right: 50px;

}
.home-policy{
    padding-left: 110px;
}
.links-list li{
    padding-top: 15px;
    color: #000;
    font-size: 16px;
}
.links-list a:hover{
    text-decoration: none;
    color: #000;
}


/* blog-carousel start */
#blog-carousel{
    background-color: #000;
    color: #fff;
    margin-bottom: 0px;
    padding-top: 120px;
    padding-bottom: 80px;
    position: relative;

}
.side-ribbon{
    position: absolute;
    bottom: 95px;
    display: block;
    width: 100px;
    height: 400px;
}
.carousel-content h1{
    font-size: 54px;
    line-height: 66px;
}
.pargaph-trusted{
    height: auto;
    margin-top: 30px;
    color: #c4c4c4;
    font-size: 18px;
    line-height: 30px;
}
.ceo-box{
    display: flex;
    height: auto;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 200px;

}
.about-ceo{
    color: #c4c4c4;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 15px;

}
.percentage-boxes{
    display: flex;
    width: auto;
    margin-top: 60px;
    margin-right: 0px;
    margin-left: auto;
    padding-right: 24px;
}
.box-details{
    align-items: center;
    border-radius: 15px;
    background-color: #181818;
    padding: 20px 10px;
    text-align: center;
    margin-right: 27px;
    width: 250px;
}
.pargaph-p{
    margin-bottom: 10px;
    font-size: 21px;    line-height: 30px;
    text-align: center;
    margin-top: 10px;
    color: #d0d0d0;

}
.owl-carousel .owl-item img{
    width: auto !important;
    max-width: 100% !important;
}
.owl-dots{
    display: flex;
    justify-content: center;
}
.owl-carousel button{
    margin-left: 10px;

}
.owl-carousel button.owl-dot.active{
    background-color: #7AB7FF !important;
    border:  2px solid !important;
}
.owl-carousel .owl-dot{
    width: 1em;
    height: 1em;
    /* color: #fff; */
    border:  2px solid !important;
    border-radius: 50%;
}
.read-story{
    margin-bottom: 50px;
    padding-top: 50px;
    float: right;
    margin-right: 133px;

}
/* FAQ Section */
.accordion-button::after{
    content: '\2b';
    background-image: none;
    color: #6e97e6;
    font-size: 30px;
    font-weight: 300;
    transition:none;


}
.accordion-button:not(.collapsed)::after{
    background-image: none;
    content: '-';
}
.accordion-item{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px !important;
    background-color: #edf5f7;
}
.accordion-button:not(.collapsed){
    box-shadow:none;
}
.accordion-item .accordion-button:focus{
    border:none;
    box-shadow:none;

}
.accordion-item .accordion-button{
    background: transparent;
    padding: 30px 15px;
    color: #0e0e0e;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;

}
.accordion-item .ans-que{
    padding: 10 20px;
    color: #858585;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
#faq{
    margin-top: 80px;
    background-color: #fff;
    margin-bottom: 60px;
}
#faq .faq-title{
    text-align: center;
   margin: 10px 0;
   font-size: 54px;
}
.accordion-flush{
    margin-top: 51px;

}
/* marquee section */
#marquee-sec{
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #edf5f7;
}
#marquee-sec .tools-title{
    margin-top: 0px;
    margin-bottom: 8px;
    padding-top: 20px;
    font-size: 30px;
    line-height: 48px;
}
#marquee-sec .marquee-images img{
    margin-right: 60px;
    width: 12%;
}
.marquee-images{
    height: 150px;
    align-items: center;
    display: flex;
}
/* .marquee-images{
    animation: marquee-horizontal-alt 60s linear infinite;

} */
.marquee-title{
    text-align: center;

}
.comerce-exp{
    text-align: center;

}
/* @keyframes marquee-horizontal-alt {
    from { transform: translateX(-90%); }
    to { transform: translateX(0%); }
  } */
  .marquee-title p{
    font-size: 18px;
    line-height: 30px;
  }

  /* Cards sec  start*/
  .card-img-logo {
    align-items: center;
    display: flex;
    justify-content: center;

  }
  .card-img-logo img{
    width: 15%;
    margin-right: 10px;
    padding-left: 10px;
  }
  #cards-sec{
    padding: 100px 0;
  }

  /* login page css start*/
  /* .form-outline input.active ~ label,
  .form-outline input:focus ~ label{
    color:#fff;
    transform: translateY(-1rem) translateY(0.1rem) scale(.8);
    font-size: 0.75em;
    padding:0 10px;
    background:#1d2b3a;
  } */
  .form-outline{
    position: relative;
  }
  .form-outline input{
    width: 100%;
    padding: 15px;
    border: 1px solid;
    background: #1d2b3a;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: all .2s linear;
  }
  .alert-txt{
    margin-bottom: 20px;

  }
  .label-active{
    color: #2cbb4b !important;
    transform: translateY(-1rem) translateY(0.1rem) scale(.8);
    font-size: 0.75em !important;
    padding: 0 8px !important;
    background: transparent !important;
}
  .form-outline label{
    position: absolute;
    left: 0;
    color: #eeeeee;
    padding: 20px;
    pointer-events: none;
    font-size: 11px;
    text-transform: uppercase;
    transition: all .2s ease-out;

  }

  .body-wrapper-login {
    background-color: #eee !important;
    height: 100vh!important;
  }
  .gradient-custom-2:hover{
    vertical-align: bottom;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2),0 2px 10px 0 rgba(0,0,0,.1) !important;
  }
  .gradient-custom-2:focus{
    box-shadow: none;
  }
  .gradient-custom-2 {
    text-transform: uppercase;
    padding: 0.625rem 1.5rem 0.5rem;
    font-weight: 500;

    /* fallback for old browsers */
    /* background: #fccb90; */
    width: 100%;
    border: none;
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd/3675, #b44593); */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
   
    }
    .ceo-bg{
        background-image: url(/assets/images/atif.jpg);
        background-size: cover;
        -webkit-box-shadow: 26px -12px 400px 54px rgb(0 0 0 / 65%) inset;
    
    }
    .py-5{
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }
    .p-md-5{
        padding: 1rem!important;

    }
    
    /* @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    } */
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

  /* login page css end*/